<div class="container mx-auto px-4 py-8">
  <div class="bg-white shadow overflow-hidden rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <p>Hello World</p>
      <%= link_to "Digital Forge", digital_forge_path, class: "block text-blue-500 hover:text-blue-700" %>
      <%= link_to "Hand Tool Armory", hand_tool_armory_path, class: "block text-blue-500 hover:text-blue-700" %>
    </div>
  </div>
</div>
