<div class="container mx-auto px-4 py-8">
  <div class="shadow overflow-hidden rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <p>Hello World</p>
      <%= link_to "Blog", blog_path, class: "link" %>
    </div>
  </div>
</div>
