<div data-modal-target="container"
     class="relative z-10 hidden"
     aria-labelledby="modal-title"
     role="dialog"
     aria-modal="true">
  <!-- Background backdrop -->
  <div class="fixed inset-0 bg-gray-500/75 transition-opacity"
       aria-hidden="true"
       data-action="click->modal#closeBackground"></div>
  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-start justify-center p-4 text-center">
      <!-- Modal panel -->
      <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full max-w-screen-md sm:p-6 dark:bg-gray-800"
           data-modal-target="content">
        <button data-action="modal#close"
                class="absolute top-2 right-2 text-slate-600 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-200">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
        <div class="mt-4 max-w-full" data-modal-target="body">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>
