<div data-modal-target="container"
       class="hidden fixed inset-0 bg-black bg-opacity-50 justify-center items-start z-50">
  <div class="bg-white rounded-lg shadow-lg w-full max-w-[80%] md:max-w-lg mt-10 p-2 md:p-6 relative dark:bg-gray-800"
         data-action="click@window->modal#closeBackground"
    data-modal-target="content">
    <button data-action="modal#close"
              class="absolute top-2 right-2 text-slate-600 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-200">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
    <div class="my-2 max-w-full" data-modal-target="body">
      <%= yield %>
    </div>
  </div>
</div>
