<%# Link to the "First" page
  - available local variables
    url:           url to the first page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<span class="first inline-flex">
  <%= link_to_unless current_page.first?, t('views.pagination.first').html_safe, url, {
    remote: remote,
    class: "min-w-[2.5rem] text-sm font-medium flex items-center justify-center px-3 py-2 rounded-md transition-all duration-200 #{current_page.first? ?
      'bg-slate-50 text-slate-400 cursor-not-allowed dark:bg-slate-800 dark:text-slate-600' :
      'text-slate-700 hover:bg-slate-100 dark:bg-slate-800 dark:text-slate-100 dark:hover:bg-slate-900 hover:text-slate-900 focus:outline-none focus:ring-2 focus:ring-slate-500'}"
  } %>
</span>
